<!DOCTYPE html>
<html lang="en" xmlns:th="http:/ww.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update Game</title>
  <link rel="stylesheet" type="text/css"
        th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}"/>
  <!--    <link rel="stylesheet" href="assets/css/style-starter.css">-->
  <link rel="stylesheet" type="text/css"
        th:href="@{/webjars/font-awesome/6.2.0/css/all.css}">
</head>
<body>
<div class="container">
  <h1 th:text="'Update the game'"></h1>
  <ul class="list-group">
    <li class="alert alert-danger col-4" style="list-style-type: none;" role="alert"
        th:each="error : ${#fields.errors('updateGame.*')}" th:text="${error}"/>
  </ul>
  <form class="mt-4" th:action="@{/update-in-progress-game/{gameId}(gameId=${updateGame.id})}" th:object="${updateGame}" method="post">
    <input type="hidden" th:field="*{version}" />
    <div class="form-group col-2">
      <label for="homeTeamScore" th:text="${homeTeamName}+ '(Home Team):'"></label>
      <input type="number" min="0" id="homeTeamScore" class="form-control" th:field="*{homeTeamScore}">
    </div>
    <br/>
    <div class="form-group col-2">
      <label for="awayTeamScore" th:text="${awayTeamName}+ '(Away Team):'">Away Team Score:</label>
      <input type="number" min="0" id="awayTeamScore" class="form-control" th:field="*{awayTeamScore}">
    </div>
    <br/>
    <button type="submit" class="btn-success btn">Update Game</button>
  </form>
</div>

<script type="text/javascript"
        th:src="@{/webjars/jquery/3.6.1/dist/jquery.min.js}"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.min.js}"></script>
</body>
</html>